@charset "UTF-8";

html,
body {
  /*min-height: 100%;*/
  min-height: 100vh;
  background: var(--blitar-green-hover);
  max-width: 100%;
  background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.4)), url("../assets/img/bg-portal.jpg") fixed center top;
  background-size: cover;
}
#root{
  display: flex;
}
.page-section{
  display: flex;
  min-height: 100vh;
}
.section-container{
  margin-top: auto;
  margin-bottom: auto;
}
.side{
  background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.4)), url("../assets/img/bg-portal-2.jpg") fixed center top;
  background-size: cover;
}

/*=========================mobile view=======================*/
@media (max-width: 768px){
  .page-section{
    padding-top: 50px;
  }
}

